<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Blogs App</h2>
    <h3>By Ajit Patil</h3>
    <a href="/blogs" class="btn">View blogs</a>
  </div>
</header>


<%- include('partials/footer'); -%>